div[class^="row"]{
	display:  flex;
}

.container {
	display: flex;
}

.quad {
	margin: 2px;
	border: 1px solid #887b7b
}

.info{
	margin: 15px;
}

.alert{
	transition: 2s;
	padding: 5px;
	max-width: 200px;
	animation: animationShow 1s ease-out 0s 1;
}

.check__button{
	margin-bottom: 15px;
}

.quad:nth-child(even){
}

.cell {
	width: 35px;
	height: 35px;
	font-size: 30px;
	text-align: center;
}

.mark {
	border: 2px solid #789fa5;
	background-color: #95e1ecb0;
}

.error {
	border: 2px solid #d259596e;
	background-color: #ea8f8f91;
}

.successful {
	border: 2px solid #5bad77;
	background-color: #8fe4ac;
}

@keyframes animationShow{
	from { opacity: 0 }
	to { opacity: 1};
}